main {
  color: gainsboro;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
    50px
    50px
    1fr
    100px
    200px;
  grid-template-areas:
    "my-header my-header my-header"
    "my-nav my-nav my-nav"
    "my-section my-section my-section"
    "my-aside my-aside my-aside"
    "my-footer my-footer my-footer";
}

header {
  grid-area: my-header;
}

nav {
  grid-area: my-nav;
}

aside {
  grid-area: my-aside;
  justify-self: start;
}

section {
  grid-area: my-section;
  background-image: url(../img/imagen1.png);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  box-sizing: border-box;
}

footer {
  grid-area: my-footer;
  grid-column: 1 / 1;
  grid-row: 3 / 4;
}

@media (min-width: 600px) and (max-width: 1000px) {
  main {
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows:
      150px
      100px
      1fr
      100px;
    grid-template-areas:
      "my-header my-header my-header"
      "my-nav my-nav my-nav"
      "my-aside my-section my-section"
      "my-footer my-footer my-footer";
  }
}

@media (min-width: 1001px) {
  main {
    grid-template-columns: 350px 1fr 200px;
    grid-template-rows:
      100px
      1fr
      100px;
    grid-template-areas:
      "my-header my-nav my-nav"
      "my-aside my-section my-section";
    /* "my-footer my-section my-section"; */
  }
}

.navbar {
  display: grid;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  width: 4rem;
  height: 4rem;
  background-color: #0c0910;
  place-items: center;
}

.navbar__title {
  background-color: #0c0910;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.collapse {
  display: grid;
  justify-content: end;
  /* &__list{
       display: none;
   }

   &__menu:checked  ~ &__list{
       display:block;


   }

   &__menu{
       display: none;
   }

   &__label {
       box-sizing: border-box; 
       width: $xx-large;
       height: $xx-large;
     }

   &__item{
       display: block;
       margin: 0;
       padding: 0.5rem;
       list-style: none;
  }
  */
}
.collapse__list {
  display: inline-flex;
  width: 20rem;
  justify-content: space-around;
}
.collapse__menu,
.collapse__label {
  display: none;
}
.collapse__link {
  text-decoration: none;
}

.infonews {
  /* display: grid;
  grid-template-rows: 90% 10%;
  grid-column: 1/2; */
}

.information {
  width: 200px;
  margin: 0;
}

.newsletters {
  display: grid;
  grid-template-columns: 90% 10%;
  align-self: end;
}
.newsletters__box {
  padding: 3rem;
  background-color: #0c0910;
  height: 9rem;
  color: #fff;
}
.newsletters__title {
  font-family: "Old Standard TT", serif;
  font-weight: 200;
  font-size: 30px;
  margin-bottom: 2rem;
}
.newsletters__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.newsletters__email {
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.newsletters__subscribe {
  height: 15rem;
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}
.newsletters__name {
  transform: rotate(90deg);
  font-size: 18px;
  font-weight: 200;
}
